$black_color:#000 !default;

$main_color: #333 !default;

$prominent_color:#2E7EFE !default;

$normal_color: #666 !default;

$minor_color:#999 !default;

$aide_color: #b5b5b5 !default;

$border_color:#ccc !default;

$white_color:#fff !default;

$main_background_color:#efeff4 !default;

$light_green_color: #00FFAA  !default;

$light_yellow_color: #ffff00 !default;

$search_bar_bg: #e5e5e5 !default;

$red_color:#FF0000 !default;

